<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Main - Flask</title>
</head>

<h1>Intelligent Vending Machines - Base de Dados</h1>
<body style="padding:20px">
    <table border="2px">
        <thead>
            <tr>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            <tr> <td><a href="categorias">Categorias</a></td>
            <tr> <td><a href="retalhistas">Retalhistas</a></td>
            <tr> <td><a href="eventos">Eventos de reposicao de IVM</a></td>
            <tr> <td><a href="supercategorias">Supercategorias</a></td>

        </tbody>
    </table>
</body>
</html>

